#wrap {
  text-align: center;
  min-width: 70em;
}

h1 {
  font-size: 5em;
  text-decoration: underline;
}

p {
  font-size: 2em;
  margin: 2em 0;
}

input {
  font-size: 5em;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 1em;
  border-radius: 0.2em;
  border: 0.1em solid gray;
  outline: none;
  margin-right: 0.2em;
}

.total {
  margin-top: 5em;
}

.total span {
  font-size: 5em;
  margin-right: 0.5em;
}

.total input {
  width: 3em;
}

.note {
  font-size: 1.2em;
}
